html,
body {
    font-family: "Titillium Web", sans-serif;
    height: 100%;
    width: 100%;
    background: #413652;
    font-size: 14px;
    color: #fff;
}
.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
[class*="__container"] {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}
/* ---------------HEADER---------------- */
.header {
    padding: 30px 0;
}
.header__container {
    padding: 20px 50px;
    border-radius: 10px;
}
._container {
}
.header__menu {
    
}
#menu-hidden {
    width: 100px;
    padding: 10px 15px;
    display: inline-block;
    font-size: 18px;
    border: 1px solid #000;
    position: relative;
    cursor: pointer;
}
#menu-hidden span {
    position: absolute;
    bottom: 40%;
    right: 10px;
    height: 0;
    width: 0;
    border-right: 5px solid transparent;
    border-top: 10px solid #000;
    border-left: 5px solid transparent;
}
.menu {
}
.menu__nav {
}
.menu__nav_active {
    display: none;
}
.menu__list {

}
.menu__itam:not(:last-child) {
    margin-bottom: 20px;
}

.menu__link {
    font-size: 18px;
    font-weight: 500;
    color: #fff;
}
/* -----------------SAIT--------------- */
.main__sait {
}
.sait__container {
}
.sait__title-logo {
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 100;
    color: #fff;
    animation-duration: 3s;
    animation-name: slidein;
}
.sait__title-text {
    padding: 20px 0;
    font-size: 20px;
    color: #fff;
}
.sait__image {
    text-align: center;
    padding: 20px;
}
.sait__image:hover {
    transition: 1s;
    transform: scale(1);
}
.sait__body {
}
.body-tag {
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 0px 0 20px 10px;
    display: none;
}
.body-tag_active {
    display: block;
}
.sait__link {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 145px;
    color: #000;
    background: #fff;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
}

.sait__link:not(:last-child) {
    margin-bottom: 10px;
}
.body-tag__link {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 145px;
    color: #000;
    background: #fff;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
}
.body-tag__link:not(:last-child) {
    margin-bottom: 10px;
}
/* --------------------TAG---------------------- */
.main__tag {
}
.tag__container {
}
.tag__title-logo {
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 500;
    color: #fff;
    animation-duration: 3s;
    animation-name: slidein;
}
.tag__title-text {
    padding: 20px 0;
    font-size: 20px;
    color: #fff;
}
.tag__image {
    text-align: center;
    padding: 20px 0;
}
.tag__image:hover {
    transition: 1s;
    transform: scale(1.1);
}
.tag__body {
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 0px 0 20px 10px;
}
.tag__body_active {
    display: block;
}
.tag__link {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 145px;
    color: #000;
    background: #fff;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
}

.tag__link:not(:last-child) {
    margin-bottom: 10px;
}
/* ---------------GRAFICS--------------- */
.main__grafics {
}
.grafics__container {
}
.grafics__title-logo {
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 500;
    color: #fff;
    animation-duration: 3s;
    animation-name: slidein;
}
.grafics__title-text {
    text-align: left;
    padding: 20px 0;
    font-size: 20px;
    color: #fff;
}
.grafics__image {
    text-align: center;
    padding: 20px 0;
}
.grafics__image:hover {
    transition: 1s;
    transform: scale(1.1);
}
.grafics__body {
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 0px 0 20px 10px;
}
.grafics__body_active {
    display: block;
}
.grafics__link {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 145px;
    color: #000;
    background: #fff;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
}
.grafics__link:not(:last-child) {
    margin-bottom: 10px;
}
/* -----------------LINKS------------------ */
.main__links {
}
.links__container {
}
.links__title-logo {
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 500;
    color: #fff;
    animation-duration: 3s;
    animation-name: slidein;
}
.links__title-text {
    padding: 20px 0;
    font-size: 20px;
    color: #fff;
}
.links__image {
    text-align: center;
    padding: 20px 0;
}
.links__image:hover {
    transition: 1s;
    transform: scale(1.1);
}
.links__body {
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 0px 0 20px 10px;
}
.links__body_active {
    display: block;
}
.links__link {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 145px;
    color: #000;
    background: #fff;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
}
.links__link:not(:last-child) {
    margin-bottom: 10px;
}
/* -------------------TABLES------------------- */
.main__tables {
}
.tables__container {
}
.tables__title-logo {
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 500;
    color: #fff;
    animation-duration: 3s;
    animation-name: slidein;
}
.tables__title-text {
    padding: 20px 0;
    font-size: 20px;
    color: #fff;
}
.tables__image {
    text-align: center;
    padding: 20px 0;
}
.tables__image:hover {
    transition: 1s;
    transform: scale(1.1);
}
.tables__body {
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 0px 0 20px 10px;
}
.tables__body_active {
    display: block;
}
.tables__link {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 145px;
    color: #000;
    background: #fff;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
}
.links__link:not(:last-child) {
    margin-bottom: 10px;
}
/* ------------------FORMS------------------ */
.main__forms {
}
.forms__container {
}
.forms__title-logo {
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 500;
    color: #fff;
    animation-duration: 3s;
    animation-name: slidein;
}
.forms__title-text {
    padding: 20px 0;
    font-size: 20px;  
    color: #fff;
}
.forms__image {
    text-align: center;
    padding: 20px 0;
}
.forms__image:hover{
    transition: 1s;
    transform: scale(1.1);
}
.forms__body {
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 0px 0 20px 10px;
}
.forms__body_active {
    display: block;
}
.forms__link {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 145px;
    color: #000;
    background: #fff;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
}
.forms__link:not(:last-child) {
    margin-bottom: 10px;
}
/* ------------VERST---------------- */
.main__verst {
}
.verst__container {
}
.verst__title-logo {
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 500;
    color: #fff;
    animation-duration: 3s;
    animation-name: slidein;
}
.verst__title-text {
    padding: 20px 0;
    font-size: 20px;
    color: #fff;
}
.verst__image {
    text-align: center;
    padding: 20px 0;
}
.verst__image:hover {
    transition: 1s;
    transform: scale(1.1);
}
.verst__body {
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 0px 0 20px 10px;
}
.verst__body_active {
    display: block;
}
.verst__link {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 145px;
    color: #000;
    background: #fff;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
}
.verst__link:not(:last-child) {
    margin-bottom: 10px;
}
/* -------------BLOCKS--------------- */
.main__blocks {
}
.blocks__container {
}
.blocks__title-logo {
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 500;
    color: #fff;
    animation-duration: 3s;
    animation-name: slidein;
}
.blocks__title-text {
    padding: 20px 0;
    font-size: 20px;  
    color: #fff;
}
.blocks__image {
    text-align: center;
    padding: 20px 0;
}
.blocks__image:hover {
    transition: 1s;
    transform: scale(1.1);
}
.blocks__body {
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 0px 0 20px 10px;
}
.blocks__body_active {
    display: block;
}
.blocks__link {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 145px;
    color: #000;
    background: #fff;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
}
.blocks__link:not(:last-child) {
    margin-bottom: 10px;
}
/* -----------------DRINKS----------------- */
.main__drinks {
}
.drinks__container {
}
.drinks__title-logo {
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 500;
    color: #fff;
    animation-duration: 3s;
    animation-name: slidein;
}
.drinks__title-text {
    padding: 20px 0;
    font-size: 20px;
    color: #fff;
}
.drinks__image {
    text-align: center;
    padding: 20px 0;
}
.drinks__image:hover {
    transition: 1s;
    transform: scale(1.1);
}
.drinks__body {
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 0px 0 20px 10px;
}
.drinks__body_active {
    display: block;
}
.drinks__link {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 145px;
    color: #000;
    background: #fff;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
}
.drinks__link:not(:last-child) {
    margin-bottom: 10px;
}
.main__tranks {
}
.tranks__container {
}
.tranks__title-logo {
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 500;
    color: #fff;
    animation-duration: 3s;
    animation-name: slidein;
}
.tranks__title-text {
    padding: 20px 0;
    font-size: 20px;
    color: #fff;
}
.main__colors {
}
.colors__container {
}
.colors__title-logo {
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 500;
    color: #fff;
    animation-duration: 5s;
    animation-name: slidein;
}
.colors__image {
    padding: 20px 0;
    text-align: center;
    animation-duration: 3s;
    animation-name: slidein;
}
.colors__image:hover {
    transition: 1s;
    transform: scale(1.1);
}

@keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }